body {
	background-image:url('http://i.imgur.com/IajyAcL.gif');
	background-color: #f7f2d8;
	background-repeat: no-repeat;
}

a {
    color: #4b2509;
    text-decoration: none;
}

a:hover {
     color:#f29422; 
     text-decoration:none; 
     cursor:pointer;  
}

h1 {
	font: 400 1.8em/0.5 'Raleway', sans-serif ;
	color: #4b2509;

}

h2 {
	font: 700 1.2em/0.5 'Raleway', sans-serif ;
	color: #4b2509;

}

h3 {
	font: 700 1.2em/1.2 'Raleway', sans-serif ;
	color: #ffffff;

}

p {
	font: 400 0.9em/1.12 'Raleway', sans-serif ;
	color: #ffffff;

}


footer{
	height: 400px;
	display:block;
	clear:both;
	width:100%;
	background-color: #8a241c;
}

#wrapper {
	max-width: 960px;
	height: 1050px;
}
#header {
	width: 100%;
	height: 104px;	
	margin: 0 0 0 0;

}

#navholder {
	width: 80%;
	height: 20px;	
	float: right;
	text-align: right;
}

#nav {
	font-family: 'Enriqueta', serif;
	max-width: 960px;
	font-weight:bold;
	font-size: 1.1em;
}

#nav li {
	list-style: none; 
    display: inline;
	margin: 0 10px;
}


#logo {
	height: 90px;
	width: 104px;
	float: left;

}

#title {
	width: 400px;
	margin: 0 0 0 0;
	padding: 15px;
	text-transform:uppercase;

}

#subtitle {
	width: 330px;
 	position:absolute;
 	top: 60px;
/* 	bottom: 148px;
*/	left: 112px;
	font-family: 'Sorts Mill Goudy', serif;
	font-style: italic;
	font-size: 1em;
	color: #4b2509;


}

#slider {
	width: 970px;
	height: 391px;
	position: absolute;
	top: 180px;
	left: 10px;
	background-color: #9a1e1e;
}

#twitter {
	position: absolute;
	width: 970px;
	height: 48;
	border-style:solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: black;
	background-color: #f7f2d8;
	top: 600px;
	left: 10px;
}

#blogtitle {
	position: absolute;
	height: 30px;
	top: 680px;
	left: 10px;
}

#blog1 {
	position: absolute;
	top: 736px;
	left: 10px;
	right: 100px;
	float: left;
	width: 300px;
	height: 284px;
	border-radius: 7px;
	background-color: #9a1e1e;
}

#blog2 {
	position: relative;
	top: 27px;

}

.blogtext {
	position: relative;
	top: 30px;
	padding-left: 20px;
	padding-right: 20px;

}

.blogbutt1 {
	position: relative;
	top: 10px;
	left: 12em;
	width: 61px;
	height: 36px;
	background-color: #f7f2d8;
	border: none;
}

.blogbuttext1 {
	font-family: 'Enriqueta', serif;
	/*padding-left: 0.5em;*/
	padding-top: 0.35em;

	text-align: center;
vertical-align: middle;

}

#fantitle {
	position: absolute;
	height: 30px;
	top: 680px;
	left: 350px;
}

#fanphoto1 {
    position: absolute;
	left: 350px;
    top: 736px;
	width: 300px;
	height: 284px;
	border-radius: 7px;
	background-color: #d95829;

}

#fanpic1 {
	position: relative;
	top: 27px;

}


#whotitle {
	position: absolute;
	height: 30px;
	width: 300px;
	top: 680px;
	left: 677px;
	
}

#whois1 {
	position: absolute;
	top: 736px;
	left: 680px;
	width: 300px;
	height: 284px;
	border-radius: 7px;
	background-color: #f29422;


}

#whoispic1 {
	position: relative;
	top: 27px;
}

#social {
	float: right;
	padding-right: 20px;
}

#arrow-left {
	position: absolute;
	top: 340px;
	left: 0px;
}

#arrow-right {
	position: absolute;
	top: 340px;
	left: 942px;
}

#video1 {
	position: relative;
	padding-left: 340px;
	padding-top: 17px;

}

#slide-p1 {
	width: 220px;
	height: 400px;
	position: absolute;
	top: 15px;
	padding-left: 60px;

}

.morebutt1 {
	position: relative;
	top: 10px;
	left: 10em;
	bottom: 5em;
	width: 61px;
	height: 36px;
	background-color: #f7f2d8;
	border: none;
}

#twitterfeed {
	font: 400 1em/0.5 'Verdana', sans-serif ;
	color: #4b2509;
/*	padding-left: 20px;
*/

}

#twittext {
	position: absolute;
	top: 610px;
	left: 70px;
}